@charset "utf-8";

html,
body {
  margin: 0 2em;
  padding: 0 2em;
  background-color: #F4F1E4;
  font-family: "Lato", sans-serif;
  color: rgb(71, 71, 71);
}

.wrapper{
  display: grid;
  grid-template-columns: 1, 1fr
                         2., 1fr, 2fr;
  grid-template-rows: auto;
}

.topnav{
  grid-column: 1 / 2;
  grid-row: 1;
}

.left{
  grid-column: 1;
  grid-row: 1;
}

.right{
  grid-column: 2 / 3;
}

#profile{
  max-width: 25%;
  height: auto;
}

.topnav {
  padding: 30px 0px;
  text-align: center;
  background: #F4F1E4;
  color: white;
  font-size: 15px;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  position: fixed;
}

.topnav a:not(:first-child) {
  text-decoration: none;
  color: black;
  padding: 0 2em;
  margin-top: 1.3em;
}

.topnav a:nth-child(7) {
  padding: 0em;
}

.topnav a:nth-child(2) {
  padding-left: 5em;
}

.topnav a:nth-child(3) {
  padding-right: 5em;
}

.topnav a {
  text-decoration: none;
  color: black;
  margin-top: .8em;
}

.topnav a:hover {
  color: rgb(122, 107, 115);
}

.topnav input[type=text] {
  background: #FFFFFF;
  width: 25%;
  height: 2em;
  margin-top: 1em;
  padding-left: 30px;
  border: #ffffff 1px solid;
  color: #333333;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  resize: none;
  border-radius: 3px;
}

h2 {
  font-family: "Lato", serif;
  font-weight: 600;
  letter-spacing: .5px;
  font-style: bold;
  font-size: 16px;
  color: rgb(44, 44, 44);
  padding-top: 8em;
}

.rounded{
  border-radius: 7px;
}

.rounded:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

form {
  margin-top: 9em;
  padding: 2em 0;
  background-color: white;
  color: black;
  border-color: #ffffff;
  height: 60px;
  width: 600px;
  text-shadow: none;
  text-align: center;
  border-radius: 8px;
}

form input[type=text] {
  height: 40px;
  width: 450px;
  background: #ebebeb;
  padding-left: 50px;
  border-radius: 8px;
  border: white solid;
  color: #000000;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
}

/* .bottomnav{
  padding:  2em;
  margin-top: .8em;
}

.bottomnav a{
  text-decoration: none;
  color: black;
  padding: 0  2em;
  display: inline-block;
  position: relative;
}

.bottomnav a:active {
  content: '';
  position: fixed;
  transform: scaleX(0);
  height: 6px;
  border-radius: 5px;
  background-color: #000000;
  transform-origin: bottom right;
  transition: all 0.5s ;
} */

ul {
  list-style-type: none;
  display: inline;
}

li {
  float: left;
}

.bottomnav a {
  position: relative;
  color: #000;
  text-decoration: none;
  display: block;
  padding: 30px;
}

.bottomnav a:visited {
  color: #000;
  text-decoration: none;
}

.bottomnav a:hover {
  color: #000;
  text-decoration: none;
}

.bottomnav a:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 5px;
  bottom: 15px;
  border-radius: 6px;
  background-color: #000;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.4s ease-in 2s;
  transition: all 0.3s ease-in-out 0s;
}

li.active a:before,
a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.column {
  float: left;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

#shelf1 {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}

#shelf2 {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}

#shelf3 {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}

#shelf4 {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}

#post1 {
  border-radius: 25px;
  background: #73AD21;
  padding: 80px;
  margin-top: 80px;
  width: 200px;
  height: 150px;
}

#post2 {
  border-radius: 25px;
  background: #73AD21;
  padding: 80px;
  width: 200px;
  height: 150px;
}

#post3 {
  border-radius: 25px;
  background: #73AD21;
  padding: 80px;
  width: 200px;
  height: 150px;
}

.rounded{
  border-radius: 7px;
}